* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  
}

body {
  width: 98%;
  background-color: #f1f1f1;
}
.App {
  width: 100%;
  min-height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.btnP {
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}

input {
  outline: none;
}

h1 {
  padding: 0;
  margin: 0;
}

.form-check-input:focus {
  box-shadow: none;
}